# Project Title

## Table of Contents
1. [Libraries](#1)
2. [Section 2](#2)
3. [Section 3](#3)
4. [Section 4](#4)
5. [Conclusion](#5)

__Introduction__  
This project focuses on ...

__Datasets Used__  
- [Dataset 1](URL)

# 1. Set-Up <a id = '1'></a>

In [25]:
import tarfile
import warnings
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from loguru import logger
from scipy.io import arff
from pyspark.sql import SparkSession

warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 100)

In [26]:
# Initialize Spark session with proper configuration
spark = (
    SparkSession.builder.appName("AnomalyDetection")
    .master("local[*]")
    .config("spark.driver.memory", "4g")
    .config("spark.executor.memory", "4g")
    .config("spark.sql.execution.arrow.pyspark.enabled", "true")
    .config("spark.sql.execution.arrow.pyspark.fallback.enabled", "true")
    .config(
        "spark.driver.extraJavaOptions", "-Dio.netty.tryReflectionSetAccessible=true"
    )
    .config(
        "spark.executor.extraJavaOptions", "-Dio.netty.tryReflectionSetAccessible=true"
    )
    .getOrCreate()
)

# Set log level to reduce verbosity
spark.sparkContext.setLogLevel("WARN")

# 2. EDA <a id = '2'></a>

In [28]:
# Read arff file
data, meta = arff.loadarff("../data/bank-additional-ful-nominal.arff")
df = pd.DataFrame(data)
df = df.applymap(lambda x: x.decode("utf-8") if isinstance(x, bytes) else x)

# Examine metadata
print(meta)

# Convert to spark df
bank_df = spark.createDataFrame(df)
bank_df.createOrReplaceTempView("BANK")

bank_df.printSchema()
spark.sql("SELECT * FROM BANK LIMIT 5").show()

Dataset: bank-additional-full-weka.filters.unsupervised.attribute.RemoveType-Tnumeric
	job's type is nominal, range is ('housemaid', 'services', 'admin.', 'blue-collar', 'technician', 'retired', 'management', 'unemployed', 'self-employed', 'unknown', 'entrepreneur', 'student')
	marital's type is nominal, range is ('married', 'single', 'divorced', 'unknown')
	education's type is nominal, range is ('basic.4y', 'high.school', 'basic.6y', 'basic.9y', 'professional.course', 'unknown', 'university.degree', 'illiterate')
	default's type is nominal, range is ('no', 'unknown', 'yes')
	housing's type is nominal, range is ('no', 'yes', 'unknown')
	loan's type is nominal, range is ('no', 'yes', 'unknown')
	contact's type is nominal, range is ('telephone', 'cellular')
	month's type is nominal, range is ('may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'mar', 'apr', 'sep')
	day_of_week's type is nominal, range is ('mon', 'tue', 'wed', 'thu', 'fri')
	poutcome's type is nominal, range is ('nonexistent', 'failure', 'success')
	y's type is nominal, range is ('yes', 'no')

root
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

+---------+-------+-----------+-------+-------+----+---------+-----+-----------+-----------+---+
|      job|marital|  education|default|housing|loan|  contact|month|day_of_week|   poutcome|  y|
+---------+-------+-----------+-------+-------+----+---------+-----+-----------+-----------+---+
|housemaid|married|   basic.4y|     no|     no|  no|telephone|  may|        mon|nonexistent| no|
| services|married|high.school|unknown|     no|  no|telephone|  may|        mon|nonexistent| no|
| services|married|high.school|     no|    yes|  no|telephone|  may|        mon|nonexistent| no|
|   admin.|married|   basic.6y|     no|     no|  no|telephone|  may|        mon|nonexistent| no|
| services|married|high.school|     no|     no| yes|telephone|  may|        mon|nonexistent| no|
+---------+-------+-----------+-------+-------+----+---------+-----+-----------+-----------+---+

In [29]:
# Read arff file
data, meta = arff.loadarff("../data/census-income-full-nominal.arff")
df = pd.DataFrame(data)
df = df.applymap(lambda x: x.decode("utf-8") if isinstance(x, bytes) else x)

# Examine metadata
print(meta)

# Convert to spark df
census_df = spark.createDataFrame(df)
census_df.createOrReplaceTempView("CENSUS")

census_df.printSchema()
spark.sql("SELECT * FROM CENSUS LIMIT 5").show()

Dataset: 'census-income-full-weka.filters.unsupervised.attribute.Remove-R43-45-weka.filters.unsupervised.attribute.Remove-R25-weka.filters.unsupervised.attribute.Normalize-S1.0-T0.0-weka.filters.unsupervised.attribute.Remove-R1,6,17-19,30,39-weka.filters.unsupervised.instance.Randomize-S42'
	att2's type is nominal, range is ('Not-in-universe', 'Private', 'Local-government', 'Self-employed-not-incorporated', 'Federal-government', 'Self-employed-incorporated', 'State-government', 'Never-worked', 'Without-pay')
	att3's type is nominal, range is ('4', '0', '40', '34', '43', '37', '24', '39', '12', '35', '45', '3', '19', '29', '32', '48', '33', '23', '44', '36', '31', '30', '41', '5', '11', '9', '42', '6', '18', '50', '2', '1', '26', '47', '16', '14', '22', '17', '7', '8', '25', '46', '27', '15', '13', '49', '38', '21', '28', '20', '51', '10')
	att4's type is nominal, range is ('34', '0', '10', '3', '40', '26', '37', '31', '12', '36', '41', '22', '2', '35', '25', '23', '42', '8', '19', '29', '27', '16', '33', '13', '18', '9', '17', '39', '32', '11', '30', '38', '20', '7', '21', '44', '24', '43', '28', '4', '1', '6', '45', '14', '5', '15', '46')
	att5's type is nominal, range is ('10th-grade', 'Children', 'Some-college-but-no-degree', 'Bachelors-degree(BA-AB-BS)', 'High-school-graduate', 'Masters-degree(MA-MS-MEng-MEd-MSW-MBA)', 'Less-than-1st-grade', 'Associates-degree-academic-program', '7th-and-8th-grade', '12th-grade-no-diploma', 'Associates-degree-occup-/vocational', 'Prof-school-degree-(MD-DDS-DVM-LLB-JD)', '5th-or-6th-grade', '11th-grade', 'Doctorate-degree(PhD-EdD)', '9th-grade', '1st-2nd-3rd-or-4th-grade')
	att7's type is nominal, range is ('High-school', 'Not-in-universe', 'College-or-university')
	att8's type is nominal, range is ('Never-married', 'Married-civilian-spouse-present', 'Divorced', 'Widowed', 'Separated', 'Married-spouse-absent', 'Married-A-F-spouse-present')
	att9's type is nominal, range is ('Not-in-universe-or-children', 'Entertainment', 'Finance-insurance-and-real-estate', 'Construction', 'Education', 'Business-and-repair-services', 'Manufacturing-nondurable-goods', 'Personal-services-except-private-HH', 'Manufacturing-durable-goods', 'Other-professional-services', 'Mining', 'Transportation', 'Wholesale-trade', 'Public-administration', 'Retail-trade', 'Social-services', 'Private-household-services', 'Utilities-and-sanitary-services', 'Communications', 'Hospital-services', 'Medical-except-hospital', 'Agriculture', 'Forestry-and-fisheries', 'Armed-Forces')
	att10's type is nominal, range is ('Not-in-universe', 'Professional-specialty', 'Executive-admin-and-managerial', 'Handlers-equip-cleaners-etc', 'Adm-support-including-clerical', 'Machine-operators-assmblrs-&-inspctrs', 'Precision-production-craft-&-repair', 'Other-service', 'Sales', 'Private-household-services', 'Technicians-and-related-support', 'Transportation-and-material-moving', 'Farming-forestry-and-fishing', 'Protective-services', 'Armed-Forces')
	att11's type is nominal, range is ('Asian-or-Pacific-Islander', 'White', 'Amer-Indian-Aleut-or-Eskimo', 'Black', 'Other')
	att12's type is nominal, range is ('All-other', 'Do-not-know', 'Central-or-South-American', 'Mexican-(Mexicano)', 'Mexican-American', 'Other-Spanish', 'Puerto-Rican', 'Cuban', 'Chicano', 'NA')
	att13's type is nominal, range is ('Female', 'Male')
	att14's type is nominal, range is ('Not-in-universe', 'No', 'Yes')
	att15's type is nominal, range is ('Not-in-universe', 'Job-loser---on-layoff', 'Other-job-loser', 'New-entrant', 'Re-entrant', 'Job-leaver')
	att16's type is nominal, range is ('Not-in-labor-force', 'Children-or-Armed-Forces', 'Full-time-schedules', 'Unemployed-full-time', 'Unemployed-part--time', 'PT-for-non-econ-reasons-usually-FT', 'PT-for-econ-reasons-usually-PT', 'PT-for-econ-reasons-usually-FT')
	att20's type is nominal, range is ('Nonfiler', 'Joint-both-under-65', 'Single', 'Joint-both-65+', 'Head-of-household', 'Joint-one-under-65-&-one-65+')
	att21's type is nominal, range is ('Not-in-universe', 'South', 'Northeast', 'Midwest', 'West', 'Abroad')
	att22's type is nominal, range is ('Not-in-universe', 'Utah', 'Michigan', 'Minnesota', 'Alaska', 'Kansas', 'Indiana', 'Massachusetts', 'New-Mexico', 'Nevada', 'Tennessee', 'Colorado', 'Abroad', 'Kentucky', 'California', 'Arkansas', 'Arizona', 'North-Carolina', 'Connecticut', 'Florida', 'Vermont', 'Maryland', 'Oklahoma', 'Oregon', 'Ohio', 'South-Carolina', 'Texas', 'Montana', 'Wyoming', 'Georgia', 'Pennsylvania', 'Iowa', 'New-Hampshire', 'Missouri', 'Alabama', 'North-Dakota', 'New-Jersey', 'Louisiana', 'West-Virginia', 'Delaware', 'Illinois', 'Maine', 'Wisconsin', 'New-York', 'Idaho', 'District-of-Columbia', 'South-Dakota', 'Nebraska', 'Virginia', 'Mississippi')
	att23's type is nominal, range is ('Child-18+-never-marr-Not-in-a-subfamily', 'Child-<18-never-marr-not-in-subfamily', 'Spouse-of-householder', 'Householder', 'Secondary-individual', 'Other-Rel-18+-never-marr-not-in-subfamily', 'Nonfamily-householder', 'Grandchild-<18-never-marr-not-in-subfamily', 'Grandchild-<18-never-marr-child-of-subfamily-RP', 'Child-18+-ever-marr-Not-in-a-subfamily', 'Child-18+-never-marr-RP-of-subfamily', 'Child-18+-spouse-of-subfamily-RP', 'Other-Rel-<18-never-marr-child-of-subfamily-RP', 'Child-under-18-of-RP-of-unrel-subfamily', 'Grandchild-18+-never-marr-not-in-subfamily', 'Child-18+-ever-marr-RP-of-subfamily', 'Other-Rel-18+-ever-marr-RP-of-subfamily', 'Other-Rel-18+-ever-marr-not-in-subfamily', 'RP-of-unrelated-subfamily', 'Other-Rel-18+-spouse-of-subfamily-RP', 'Other-Rel-<18-never-marr-not-in-subfamily', 'Other-Rel-<18-spouse-of-subfamily-RP', 'In-group-quarters', 'Grandchild-18+-spouse-of-subfamily-RP', 'Other-Rel-18+-never-marr-RP-of-subfamily', 'Child-<18-never-marr-RP-of-subfamily', 'Child-<18-ever-marr-not-in-subfamily', 'Other-Rel-<18-ever-marr-RP-of-subfamily', 'Grandchild-18+-ever-marr-not-in-subfamily', 'Child-<18-spouse-of-subfamily-RP', 'Spouse-of-RP-of-unrelated-subfamily', 'Other-Rel-<18-never-married-RP-of-subfamily', 'Grandchild-18+-never-marr-RP-of-subfamily', 'Grandchild-18+-ever-marr-RP-of-subfamily', 'Child-<18-ever-marr-RP-of-subfamily', 'Other-Rel-<18-ever-marr-not-in-subfamily', 'Grandchild-<18-never-marr-RP-of-subfamily', 'Grandchild-<18-ever-marr-not-in-subfamily')
	att24's type is nominal, range is ('Child-18-or-older', 'Child-under-18-never-married', 'Spouse-of-householder', 'Householder', 'Nonrelative-of-householder', 'Other-relative-of-householder', 'Group-Quarters--Secondary-individual', 'Child-under-18-ever-married')
	att26's type is nominal, range is ('Nonmover', 'MSA-to-MSA', 'NonMSA-to-nonMSA', 'Not-in-universe', 'Not-identifiable', 'Abroad-to-MSA', 'MSA-to-nonMSA', 'Abroad-to-nonMSA', 'NonMSA-to-MSA')
	att27's type is nominal, range is ('Nonmover', 'Different-region', 'Different-county-same-state', 'Same-county', 'Not-in-universe', 'Different-division-same-region', 'Abroad', 'Different-state-same-division')
	att28's type is nominal, range is ('Nonmover', 'Different-state-in-South', 'Different-county-same-state', 'Same-county', 'Not-in-universe', 'Different-state-in-Northeast', 'Abroad', 'Different-state-in-Midwest', 'Different-state-in-West')
	att29's type is nominal, range is ('Not-in-universe-under-1-year-old', 'Yes', 'No')
	att30's type is nominal, range is ('Not-in-universe', 'Yes', 'No')
	att32's type is nominal, range is ('Not-in-universe', 'Both-parents-present', 'Mother-only-present', 'Neither-parent-present', 'Father-only-present')
	att33's type is nominal, range is ('Vietnam', 'United-States', 'Philippines', 'Columbia', 'Germany', 'Mexico', 'Japan', 'Peru', 'Dominican-Republic', 'South-Korea', 'Cuba', 'El-Salvador', 'Canada', 'Scotland', 'Outlying-U-S-(Guam-USVI-etc)', 'Italy', 'Guatemala', 'Ecuador', 'Puerto-Rico', 'Cambodia', 'China', 'Poland', 'Nicaragua', 'Taiwan', 'England', 'Ireland', 'Hungary', 'Yugoslavia', 'Trinadad&Tobago', 'Jamaica', 'Honduras', 'Portugal', 'Iran', 'France', 'India', 'Hong-Kong', 'Haiti', 'Greece', 'Holand-Netherlands', 'Thailand', 'Laos', 'Panama')
	att34's type is nominal, range is ('Vietnam', 'United-States', 'Columbia', 'Mexico', 'El-Salvador', 'Peru', 'Puerto-Rico', 'Cuba', 'Philippines', 'Dominican-Republic', 'Germany', 'England', 'Guatemala', 'Scotland', 'Portugal', 'Italy', 'Ecuador', 'Yugoslavia', 'China', 'Poland', 'Hungary', 'Nicaragua', 'Taiwan', 'Ireland', 'Canada', 'South-Korea', 'Trinadad&Tobago', 'Jamaica', 'Honduras', 'Iran', 'France', 'Cambodia', 'India', 'Hong-Kong', 'Haiti', 'Japan', 'Greece', 'Holand-Netherlands', 'Thailand', 'Panama', 'Laos', 'Outlying-U-S-(Guam-USVI-etc)')
	att35's type is nominal, range is ('Vietnam', 'United-States', 'Columbia', 'Mexico', 'Peru', 'Cuba', 'Philippines', 'Dominican-Republic', 'El-Salvador', 'Canada', 'Scotland', 'Portugal', 'Guatemala', 'Ecuador', 'Germany', 'Outlying-U-S-(Guam-USVI-etc)', 'Puerto-Rico', 'Italy', 'China', 'Poland', 'Nicaragua', 'Taiwan', 'England', 'Ireland', 'South-Korea', 'Trinadad&Tobago', 'Jamaica', 'Honduras', 'Iran', 'Hungary', 'France', 'Cambodia', 'India', 'Hong-Kong', 'Japan', 'Haiti', 'Holand-Netherlands', 'Greece', 'Thailand', 'Panama', 'Yugoslavia', 'Laos')
	att36's type is nominal, range is ('Foreign-born--Not-a-citizen-of-U-S', 'Native--Born-in-the-United-States', 'Foreign-born--U-S-citizen-by-naturalization', 'Native--Born-abroad-of-American-Parent(s)', 'Native--Born-in-Puerto-Rico-or-U-S-Outlying')
	att37's type is nominal, range is ('0', '1', '2')
	att38's type is nominal, range is ('Not-in-universe', 'No', 'Yes')
	att39's type is nominal, range is ('0', '1', '2')
	att41's type is nominal, range is ('94', '95')
	class's type is nominal, range is ('50000+.', '--50000.')

root
 |-- att2: string (nullable = true)
 |-- att3: string (nullable = true)
 |-- att4: string (nullable = true)
 |-- att5: string (nullable = true)
 |-- att7: string (nullable = true)
 |-- att8: string (nullable = true)
 |-- att9: string (nullable = true)
 |-- att10: string (nullable = true)
 |-- att11: string (nullable = true)
 |-- att12: string (nullable = true)
 |-- att13: string (nullable = true)
 |-- att14: string (nullable = true)
 |-- att15: string (nullable = true)
 |-- att16: string (nullable = true)
 |-- att20: string (nullable = true)
 |-- att21: string (nullable = true)
 |-- att22: string (nullable = true)
 |-- att23: string (nullable = true)
 |-- att24: string (nullable = true)
 |-- att26: string (nullable = true)
 |-- att27: string (nullable = true)
 |-- att28: string (nullable = true)
 |-- att29: string (nullable = true)
 |-- att30: string (nullable = true)
 |-- att32: string (nullable = true)
 |-- att33: string (nullable = true)
 |-- att34: string (nullable = true)
 |-- att35: string (nullable = true)
 |-- att36: string (nullable = true)
 |-- att37: string (nullable = true)
 |-- att38: string (nullable = true)
 |-- att39: string (nullable = true)
 |-- att41: string (nullable = true)
 |-- class: string (nullable = true)

+---------------+----+----+--------------------+---------------+--------------------+--------------------+---------------+--------------------+---------+------+---------------+---------------+--------------------+-------------------+---------------+---------------+--------------------+--------------------+--------+--------+--------+--------------------+---------------+--------------------+-------------+-------------+-------------+--------------------+-----+---------------+-----+-----+--------+
|           att2|att3|att4|                att5|           att7|                att8|                att9|          att10|               att11|    att12| att13|          att14|          att15|               att16|              att20|          att21|          att22|               att23|               att24|   att26|   att27|   att28|               att29|          att30|               att32|        att33|        att34|        att35|               att36|att37|          att38|att39|att41|   class|
+---------------+----+----+--------------------+---------------+--------------------+--------------------+---------------+--------------------+---------+------+---------------+---------------+--------------------+-------------------+---------------+---------------+--------------------+--------------------+--------+--------+--------+--------------------+---------------+--------------------+-------------+-------------+-------------+--------------------+-----+---------------+-----+-----+--------+
|Not-in-universe|   0|   0|Bachelors-degree(...|Not-in-universe|Married-civilian-...|Not-in-universe-o...|Not-in-universe|               White|All-other|Female|Not-in-universe|Not-in-universe|Children-or-Armed...|Joint-both-under-65|Not-in-universe|Not-in-universe|Spouse-of-househo...|Spouse-of-househo...|Nonmover|Nonmover|Nonmover|                 Yes|Not-in-universe|     Not-in-universe|United-States|United-States|United-States|Native--Born-in-t...|    0|Not-in-universe|    2|   94|--50000.|
|        Private|  29|  32|Bachelors-degree(...|Not-in-universe|       Never-married|      Transportation|  Other-service|               White|All-other|Female|Not-in-universe|     Job-leaver|Unemployed-full-time|             Single|Not-in-universe|Not-in-universe|Nonfamily-househo...|         Householder|       ?|       ?|       ?|Not-in-universe-u...|              ?|     Not-in-universe|United-States|United-States|United-States|Native--Born-in-t...|    0|Not-in-universe|    2|   95|--50000.|
|Not-in-universe|   0|   0|High-school-graduate|Not-in-universe|Married-civilian-...|Not-in-universe-o...|Not-in-universe|               White|All-other|  Male|Not-in-universe|Not-in-universe|  Not-in-labor-force|     Joint-both-65+|Not-in-universe|Not-in-universe|         Householder|         Householder|       ?|       ?|       ?|Not-in-universe-u...|              ?|     Not-in-universe|United-States|United-States|United-States|Native--Born-in-t...|    0|Not-in-universe|    2|   95|--50000.|
|Not-in-universe|   0|   0|            Children|Not-in-universe|       Never-married|Not-in-universe-o...|Not-in-universe|               White|All-other|Female|Not-in-universe|Not-in-universe|Children-or-Armed...|           Nonfiler|Not-in-universe|Not-in-universe|Grandchild-<18-ne...|Other-relative-of...|       ?|       ?|       ?|Not-in-universe-u...|              ?|Both-parents-present|United-States|United-States|United-States|Native--Born-in-t...|    0|Not-in-universe|    0|   95|--50000.|
|Not-in-universe|   0|   0|            Children|Not-in-universe|       Never-married|Not-in-universe-o...|Not-in-universe|Asian-or-Pacific-...|All-other|  Male|Not-in-universe|Not-in-universe|Children-or-Armed...|           Nonfiler|Not-in-universe|Not-in-universe|Child-<18-never-m...|Child-under-18-ne...|Nonmover|Nonmover|Nonmover|                 Yes|Not-in-universe|Both-parents-present|        China|        China|United-States|Native--Born-in-t...|    0|Not-in-universe|    0|   94|--50000.|
+---------------+----+----+--------------------+---------------+--------------------+--------------------+---------------+--------------------+---------+------+---------------+---------------+--------------------+-------------------+---------------+---------------+--------------------+--------------------+--------+--------+--------+--------------------+---------------+--------------------+-------------+-------------+-------------+--------------------+-----+---------------+-----+-----+--------+

25/12/28 17:55:46 WARN TaskSetManager: Stage 16 contains a task of very large size (5459 KiB). The maximum recommended task size is 1000 KiB.

In [30]:
# Read arff file
data, meta = arff.loadarff("../data/covertype_nominal_4vs123567.arff")
df = pd.DataFrame(data)
df = df.applymap(lambda x: x.decode("utf-8") if isinstance(x, bytes) else x)

# Examine metadata
print(meta)

# Convert to spark df
covertype_df = spark.createDataFrame(df)
covertype_df.createOrReplaceTempView("COVERTYPE")

covertype_df.printSchema()
spark.sql("SELECT * FROM COVERTYPE LIMIT 5").show()

Dataset: 'CoverType_nominal'
	Dim_11's type is nominal, range is ('1', '0')
	Dim_12's type is nominal, range is ('1', '0')
	Dim_13's type is nominal, range is ('1', '0')
	Dim_14's type is nominal, range is ('1', '0')
	Dim_15's type is nominal, range is ('1', '0')
	Dim_16's type is nominal, range is ('1', '0')
	Dim_17's type is nominal, range is ('1', '0')
	Dim_18's type is nominal, range is ('1', '0')
	Dim_19's type is nominal, range is ('1', '0')
	Dim_20's type is nominal, range is ('1', '0')
	Dim_21's type is nominal, range is ('1', '0')
	Dim_22's type is nominal, range is ('1', '0')
	Dim_23's type is nominal, range is ('1', '0')
	Dim_24's type is nominal, range is ('1', '0')
	Dim_25's type is nominal, range is ('1', '0')
	Dim_26's type is nominal, range is ('1', '0')
	Dim_27's type is nominal, range is ('1', '0')
	Dim_28's type is nominal, range is ('1', '0')
	Dim_29's type is nominal, range is ('1', '0')
	Dim_30's type is nominal, range is ('1', '0')
	Dim_31's type is nominal, range is ('1', '0')
	Dim_32's type is nominal, range is ('1', '0')
	Dim_33's type is nominal, range is ('1', '0')
	Dim_34's type is nominal, range is ('1', '0')
	Dim_35's type is nominal, range is ('1', '0')
	Dim_36's type is nominal, range is ('1', '0')
	Dim_37's type is nominal, range is ('1', '0')
	Dim_38's type is nominal, range is ('1', '0')
	Dim_39's type is nominal, range is ('1', '0')
	Dim_40's type is nominal, range is ('1', '0')
	Dim_41's type is nominal, range is ('1', '0')
	Dim_42's type is nominal, range is ('1', '0')
	Dim_43's type is nominal, range is ('1', '0')
	Dim_44's type is nominal, range is ('1', '0')
	Dim_45's type is nominal, range is ('1', '0')
	Dim_46's type is nominal, range is ('1', '0')
	Dim_47's type is nominal, range is ('1', '0')
	Dim_48's type is nominal, range is ('1', '0')
	Dim_49's type is nominal, range is ('1', '0')
	Dim_50's type is nominal, range is ('1', '0')
	Dim_51's type is nominal, range is ('1', '0')
	Dim_52's type is nominal, range is ('1', '0')
	Dim_53's type is nominal, range is ('1', '0')
	Dim_54's type is nominal, range is ('1', '0')
	class's type is nominal, range is ('1', '0')

root
 |-- Dim_11: string (nullable = true)
 |-- Dim_12: string (nullable = true)
 |-- Dim_13: string (nullable = true)
 |-- Dim_14: string (nullable = true)
 |-- Dim_15: string (nullable = true)
 |-- Dim_16: string (nullable = true)
 |-- Dim_17: string (nullable = true)
 |-- Dim_18: string (nullable = true)
 |-- Dim_19: string (nullable = true)
 |-- Dim_20: string (nullable = true)
 |-- Dim_21: string (nullable = true)
 |-- Dim_22: string (nullable = true)
 |-- Dim_23: string (nullable = true)
 |-- Dim_24: string (nullable = true)
 |-- Dim_25: string (nullable = true)
 |-- Dim_26: string (nullable = true)
 |-- Dim_27: string (nullable = true)
 |-- Dim_28: string (nullable = true)
 |-- Dim_29: string (nullable = true)
 |-- Dim_30: string (nullable = true)
 |-- Dim_31: string (nullable = true)
 |-- Dim_32: string (nullable = true)
 |-- Dim_33: string (nullable = true)
 |-- Dim_34: string (nullable = true)
 |-- Dim_35: string (nullable = true)
 |-- Dim_36: string (nullable = true)
 |-- Dim_37: string (nullable = true)
 |-- Dim_38: string (nullable = true)
 |-- Dim_39: string (nullable = true)
 |-- Dim_40: string (nullable = true)
 |-- Dim_41: string (nullable = true)
 |-- Dim_42: string (nullable = true)
 |-- Dim_43: string (nullable = true)
 |-- Dim_44: string (nullable = true)
 |-- Dim_45: string (nullable = true)
 |-- Dim_46: string (nullable = true)
 |-- Dim_47: string (nullable = true)
 |-- Dim_48: string (nullable = true)
 |-- Dim_49: string (nullable = true)
 |-- Dim_50: string (nullable = true)
 |-- Dim_51: string (nullable = true)
 |-- Dim_52: string (nullable = true)
 |-- Dim_53: string (nullable = true)
 |-- Dim_54: string (nullable = true)
 |-- class: string (nullable = true)

+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+
|Dim_11|Dim_12|Dim_13|Dim_14|Dim_15|Dim_16|Dim_17|Dim_18|Dim_19|Dim_20|Dim_21|Dim_22|Dim_23|Dim_24|Dim_25|Dim_26|Dim_27|Dim_28|Dim_29|Dim_30|Dim_31|Dim_32|Dim_33|Dim_34|Dim_35|Dim_36|Dim_37|Dim_38|Dim_39|Dim_40|Dim_41|Dim_42|Dim_43|Dim_44|Dim_45|Dim_46|Dim_47|Dim_48|Dim_49|Dim_50|Dim_51|Dim_52|Dim_53|Dim_54|class|
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+
|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|    0|
|     0|     0|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|     0|     0|     0|     0|     0|    0|
|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|    0|
|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|    0|
|     0|     0|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     1|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|     0|    0|
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+

25/12/28 17:56:52 WARN TaskSetManager: Stage 17 contains a task of very large size (2209 KiB). The maximum recommended task size is 1000 KiB.